global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
    monitor: 'monitoring-play-app'

rule_files:
  - "/etc/prometheus/alert.rules"

scrape_configs:
  - job_name: 'prometheus'

    scrape_interval: 5s

    static_configs:
      - targets: ['prometheus:9090','cadvisor:8080']

  - job_name: 'playframework-app'

    scrape_interval: 5s

    metrics_path: '/metrics'

    static_configs:
      - targets: ['play-app:9000']
